<html>
<head>
    <title>Register</title>
</head>
<body>
    <form name="login" method="GET" id="login" action="http://127.0.0.1:5000/login">
        Name <input type="text" name="Name" id="Name"><br>
        Email <input type="text" name="Email" id="Email"><br>
        Password <input type="text" name="Password" id="Password"><br>
        Date Of Birth <input type="text" name="Date Of Birth" id="Date Of Birth"><br>
        Mobile Number <input type="text" name="Mobile Number" id="Mobile Number"><br>
        Gender <input type="text" name="Gender" id="Gender"><br>
    </form>
    <button type="submit" form="login">Submit</button>
</body>
</html>